<form
  [formGroup]="orderForm"
>
  <ul class="form-style-1">

    <li><label>Name<span class="required">*</span></label>
      <input
        required
        formControlName="name"
        type="text"
        name="field1" class="field-divided"/>
    </li>
    <li>
      <label>Email <span class="required">*</span></label>
      <input
        formControlName="email"
        type="email" name="field3" class="field-long"/>
    </li>

    <li>
      <label>What would you like to order?</label>
      <select required formControlName="item" name="field4"
                       class="field-select">
        <option value="Coffee">Coffee</option>
        <option value="Latte">Latte</option>
        <option value="Tea">Tea</option>
      </select>
    </li>

    <br>

    <input formControlName="size" type="radio" name="size" value="small"> Small
    <input formControlName="size" type="radio" name="size" value="medium">
    Medium
    <input formControlName="size" type="radio" name="size" value="large"> Large

    <li>
      <label>Notes</label>
      <textarea formControlName="notes" name="field5" id="field5"
                class="field-long field-textarea"></textarea>
    </li>
    <li>
      <input [disabled]="!orderForm.valid"
             (click)="displayConfirmation()"
             type="submit" value="Submit"/>
    </li>
  </ul>


</form>
