<form
  [formGroup]="orderForm"
    id="order-form"
>
  <ul class="form-style-1">

    <li><label>Name<span class="required">*</span></label>
      <input
        id="name-field"
        required
        formControlName="name"
        type="text"
        name="field1" class="field-divided"/>
    </li>
    <li>
      <label>Email <span class="required">*</span></label>
      <input
        id="email-field"
        formControlName="email"
        type="email" name="field3" class="field-long"/>
    </li>

    <li>
      <label>What would you like to order?</label>
      <select
        id="item-field"
        required formControlName="item" name="field4"
                       class="field-select">
        <option value="Coffee">Coffee</option>
        <option value="Latte">Latte</option>
        <option value="Tea">Tea</option>
      </select>
    </li>

    <br>

    <input         id="small-size-field"formControlName="size" type="radio"
                   name="size" value="small"> Small
    <input id="medium-size-field" formControlName="size" type="radio"
           name="size" value="medium">
    Medium
    <input id="large-size-field" formControlName="size" type="radio"
           name="size" value="large"> Large

    <li>
      <label>Notes</label>
      <textarea formControlName="notes" name="field5"
                id="notes-field"
                class="field-long field-textarea"></textarea>
    </li>
    <li>
      <button [disabled]="!orderForm.valid"
             (click)="displayConfirmation()"
              type="submit" value="Submit">Submit</button>
    </li>
  </ul>


</form>
